<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="/css/game.css">
</head>

<body>
    <section id='game-board'>
        <section class="rows">
            <button id='1' class="board-btns"></button>
            <button id='2' class="board-btns"></button>
            <button id='3' class="board-btns"></button>
        </section>
        <section class="rows">
            <button id='4' class="board-btns"></button>
            <button id='5' class="board-btns"></button>
            <button id='6' class="board-btns"></button>
        </section>
        <section class="rows">
            <button id='7' class="board-btns"></button>
            <button id='8' class="board-btns"></button>
            <button id='9' class="board-btns"></button>
        </section>
    </section>
</body>
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/js/game.js"></script>

</html>
