<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Template</title>
</head>

<body>
    <p id='current-users'>online users: 1</p>
    <p id='meaning'>move to draw!</p>
    <canvas id="home-webgl"></canvas>
    <div id='screen'></div>
</body>
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/js/home.min.js"></script>

</html>
