<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EJS Template</title>
    <meta name="author" content="Tanishq Singh">
    <meta name="copyright" content="MIT-C-2021">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="safe for kids">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <header id='signup-header' style="position: relative;">
        <nav>
            <heading><a href="/">EJS Template</a></heading>
            <heading>
                <p id='add'>add</p>
                <p id='clear'>clear</p>
            </heading>
        </nav>
    </header>
    <h1 id='user'>user connected : 1</h1>
    <h1 id='data'></h1>
    <h1></h1>


</body>
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/js/home.js"></script>

</html>
