* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-webgl {
    height: 100vh;
    width: 100vw;
}

#current-users {
    position: absolute;
    top: 20px;
    right: 30px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: large;
}